html,
body {
  margin: 0;
}

h1,
li,
button {
  font-family: "Alata", sans-serif;
  list-style: none;
}
h2,
a,
textarea {
  font-family: "Open Sans", sans-serif;
}
#mainHeading {
  margin-left: 20px;
}
#back {
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 10px;
  font-size: 15pt;
}

.results,
#searchH2,
form {
  margin-left: 50px;
  a {
    text-decoration: none;
    color: black;
  }
  .character:hover {
    cursor: pointer;
    color: white;
    background-color: black;
  }
}
.characterInfo {
  width: 40vw;
  margin: auto;
}
form {
  input {
    width: 250px;
    font-size: 22.5pt;
    border: solid 2px black;
    text-align: center;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
  button {
    font-size: 18.3pt;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border: 2px black solid;
  }
  button:hover {
    color: white;
    background-color: black;
  }
  button:focus {
    outline: none;
    border-radius: 0;
  }
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}
